# Created by .ignore support plugin (hsz.mobi)
admin/
content/bindex.html
content/banners/
content/lang/
content/logs/
content/template/ajax.gif
content/template/hotspot2.fla
content/template/hotspot2.swf
content/template/green/css/
content/template/green/fonts/
content/template/green/images/
content/template/green/js/
content/template/green/modules/ads/
content/template/green/modules/catalog/
content/template/green/modules/feedback/
content/template/green/modules/main/
content/template/green/modules/orders/
content/template/green/modules/pano/
content/template/green/modules/posts/
content/template/green/modules/users/
content/template/green/modules/default.tpl
content/template/green/404.tpl
content/template/green/_counters.tpl
content/template/green/_footer.tpl
content/template/green/_header.tpl
content/template/green/_menu.tpl
content/template/green/_order-form.tpl
content/template/green/_searchform.tpl
content/template/green/_sitebar-left.tpl
content/template/green/_sitebar-right.tpl
content/template/green/catalog.tpl
content/template/green/category.tpl
content/template/green/favicon.ico
content/template/green/loginform.tpl

#include
include/ajax/
include/editor/
include/libs/
include/modules/ads/
include/modules/balance/
include/modules/catalog/
include/modules/feedback/
include/modules/login/
include/modules/main/
include/modules/orders/
include/modules/pano/
include/modules/posts/
include/modules/referer/
include/modules/share/
include/modules/stats/
include/modules/users/

include/config.php
include/dbconf.php
include/inc.php
include/settings.php
include/smarty_install.php

cookie.txt
404.html
go.php
index.php
robots.txt

.idea/